 <!DOCTYPE html>
 <html>
   <head>
     <title>Template</title>
      <link rel="stylesheet" href="/stylesheets/highlight.css">
      <style type="text/css">
             p{
                background-color: yellow;;
             }
        </style>
   </head>
   <body>
     <h1 >Hello World</h1>
     <p class="highlight">Welcome to MashupStack</p>
     <img src="/images/Logo.png" alt="LOGO IMAGE">
   </body>
 </html>