<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
             h{
                background-color: yellow;;
             }
        </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/images/Logo.png" alt="Travel Image" style="border: 1px solid black;">
  </body>
</html>
 